.titleDiv{
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.task{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border: 1px solid black ;
}

input{
  padding: 1rem;
  width: 30vw;
  border-radius: 2rem;
  border: 1px solid black;
  margin: 2rem;
}

button{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: red;
  border: none;
  border-radius: 1rem;
}